<p>
    We're happy to continue discussing these topics with you. 
    Or to provide feedback on your solutions to the hands-on activities.
    Just email us at the <a href="#contact">contact address above</a>.
</p>
<p>
    To follow future events organized by the IDEAS Productivity project,
    <a href="http://eepurl.com/cQCyJ5">subscribe to our mailing list</a> (~2 messages/month).
</p>
<p>
    To follow updates on the <a href="https://bssw.io">Better Scientific Software</a> site, 
    <a href="https://bssw.io/pages/receive-our-email-digest">subscribe to our monthly digest</a>.
</p>
