<div class="row">
  <div class="col-md-12">
    <table class="table table-striped">
      <tr> <th>Time</th> <th>Lesson</th> <th>Title</th> <th>Presenter</th> </tr>
      <tr> <td>2:30pm</td> <td>00</td> <td>Introduction</td> <td>David E. Bernholdt, ORNL</td> </tr>
      <tr> <td>2:35pm</td> <td>01</td> <td>Motivation and Overview of Best Practices in HPC Software Development</td> <td>David E. Bernholdt, ORNL</td> </tr>
      <tr> <td>2:45pm</td> <td>02</td> <td>Agile Methodologies</td> <td>Rinku Gupta, ANL</td> </tr>
      <tr> <td>3:15pm</td> <td>03</td> <td>Git Workflows</td> <td>Patricia Grubel, LANL</td> </tr>
      <tr> <td>3:30pm</td> <td>04</td> <td>Software Design</td> <td>Anshu Dubey, ANL</td> </tr>
      <tr> <td>4:00pm</td> <td>05</td> <td>Software Testing 1</td> <td>Rinku Gupta, ANL</td> </tr>
      <tr> <td>4:15pm</td> <td>  </td> <td>BREAK (optional live Q&A and demo of Kanban hands-on activities)</td> <td>David E. Bernholdt and All</td> </tr>
      <tr> <td>4:35pm</td> <td>06</td> <td>Software Testing 2</td> <td>Anshu Dubey, ANL</td> </tr>
      <tr> <td>4:50pm</td> <td>07</td> <td>Refactoring</td> <td>Anshu Dubey, ANL</td> </tr>
      <tr> <td>5:35pm</td> <td>08</td> <td>Continuous Integration</td> <td>David E. Bernholdt, ORNL</td> </tr>
      <tr> <td>5:50pm</td> <td>09</td> <td>Reproducibility</td> <td>Patricia Grubel, LANL</td> </tr>
      <tr> <td>6:05pm</td> <td>10</td> <td>Summary</td> <td>David E. Bernholdt, ORNL</td> </tr>
      <tr> <td>6:10pm</td> <td>  </td> <td>Live Q&A and demo of CI hands-on activities</td> <td>David E. Bernholdt and All</td> </tr>
      <tr> <td>6:30pm</td> <td>  </td> <td>END {% if page.evaluation_form %}<em>(Please complete the <a href="{{ page.evaluation_form }}">evaluation form</a>!)</em>{% endif %}</td> <td> </td></tr>
    </table>
  </div>
</div>