<p id="who">
  <strong>Who:</strong>
  This tutorial is designed to benefit any scientific software development project, irrespective of its size and scope.  Some of the material is cast as focusing on small teams, but since larger teams are typically composed of multiple smaller teams that coordinate in a looser fashion, the same concepts apply with modest adaptations. The tutorial can benefit people at any stage of their career, whether they are students, post-docs, or established practitioners.  While the level of the content skews strongly towards beginner and intermediate levels, we have found that many established software developers are often not familiar with and appreciate learning about many of the ideas we present in this tutorial.
</p>
