<div id="codecov-account">
  <h3>Codecov Account</h3>
    <p>
        <strong>Used in lessons:</strong> Continuous Integration
    </p>
    <p>
        Codecov facilitates visualizing and tracking of testng code coverage.
        It is easily integrated with hosting services, like GitHub and Travis CI.
    </p>
    <p>
        You will need an account at <a href="https://codecov.io/">codecov.io</a>
        for the continuous integration testing activity. Basic Codecov accounts are free.
        When creating your account, you should link it to your GitHub account.
        Of course, this requires that you setup your GitHub account first.
    </p>

    <h4>Setting Up Your Codecov Account</h4>
        <ol>
            <li>Go to <a href="https://codecov.io/">https://codecov.io/</a></li>
            <li>Click the “Sign Up” button</li>
            <li>Choose “Sign up with GitHub”</li>
            <li>On the “Authorize Codecov” page, click to “Authorize codecov”</li>
        </ol>
</div>
