<div id="development-environment">
  <h3>Development Environment</h3>
    <p>
        <strong>Used in lessons:</strong> Refactoring
    </p>
    <p>
        You'll need access to a basic development environment for the refactoring activities.  It should support editing, compiling, and executing simple C++ language code. 
        A remote development environment that you can access via ssh will also work fine.
    </p>
    <p>
        A command-line git installation is also required for these activities.  You may already have installed on <a href="#git">above</a>, unless your development environment is remote.
    </p>
    <p>
        <strong>A note on programming language:</strong> Although technically C++, the code you’ll work with is very C-like, and the exercises don’t require extensive knowledge of the language.
        Fortran programmers should not have much trouble either.  If you're uncomfortable with C programming, consider teaming up with another participant who is more comfortable.
    </p>
    
</div>
