<div id="github-account">
  <h3>GitHub Account</h3>
    <p>
        <strong>Used in lessons:</strong> Agile Methodologies, Git Workflows, Refactoring, Continuous Integration
    </p>
    <p>
        You will need an account at <a href="https://github.com/">github.com</a>
        for many of the hands-on activiies. Basic GitHub accounts are free. We encourage
        you to create a GitHub account if you don't have one already.
        Please consider what personal information you'd like to reveal. For
        example, you may want to review these
        <a href="https://help.github.com/articles/keeping-your-email-address-private/">instructions
      for keeping your email address private</a> provided at GitHub.
    </p>
    <p>
      You will also need a
        <a href="https://help.github.com/articles/supported-browsers/">supported
        web browser</a>.
    </p>

    <h4>Setting Up Your GitHub Account</h4>
        <ol>
            <li>Go to <a href="https://github.com">https://github.com</a></li>
            <li>Click the “Sign Up” button</li>
            <li>Complete the signup form</li>
            <li>Verify your account, as requested</li>
            <li>On the “Welcome to GitHub” page, scroll to the bottom and click on “Complete Setup”</li>
            <li>Complete the email verification process</li>
            <li>Login to GitHub with your new account</li>
        </ol>
</div>
