<div id="travis-account">
  <h3>Travis CI Account</h3>
    <p>
        <strong>Used in lessons:</strong> Continuous Integration
    </p>
    <p>
        Travis CI provides infrastructure execute automated testng and deployment tasks.
        It is easily integrated with hosting services, like GitHub.
    </p>
    <p>
        You will need an account at <a href="https://travis-ci.com/">travis-ci.com</a>
        for the continuous integration testing activity. Basic Travis accounts are free.
        When creating your account, you should link it to your GitHub account.
        Of course, this requires that you setup your GitHub account first.
    </p>

    <h4>Setting Up Your Travis CI Account</h4>
        <ol>
            <li>Go to <a href="https://travis-ci.com">https://travis-ci.com</a></li>
            <li>Click the “Sign Up” button</li>
            <li>Choose “Sign up with GitHub”</li>
            <li>On the “Authorize Travis CI” page, click to “Authorize travis-pro”</li>
            <li>On the “First time here?” page, click the “Activate all repositories using GitHub Apps” button</li>
            <li>Select “All Repositories” (in general, you might want to be more selective in giving Travis-CI access to your repositories, but for now this is expedient). Click “Approve & install”</li>
            <li>On the Travis-CI page for your account, click “Activate” to activate the GitHub integration.</li>
        </ol>
</div>
